.dashboard {
	width: 100%;
	height: 100%;
	position: relative;
}

.dashboard .left-panel {
	float: left;
	width: 30%;
	max-width: 300px;
	height: 100%;
	background-color: var(--dark-blue);
	text-align: left;
	display: block;
}

.dashboard .left-panel .user-info {
	height: 15%;
	position: relative;
	padding: 12px 15px;
	min-height: 85px;
	margin: 2px;
	border-radius: 6px;
}

.dashboard .left-panel .btn-logout {
	background-color: var(--blue);
	border: none;
	border-radius: 3px;
	font-size: 20px;
	padding: 8px 15px;
	margin: 0 8px 15px 8px;
	letter-spacing: 0px;
	width: 95%;
	cursor: pointer;
	font-weight: bold;
}

.dashboard .chatRoom {
	height: calc(85% - 50px);
	padding: 12px 15px;
	margin: 2px;
	border-radius: 6px;
	overflow-y: auto;
}

.dashboard .right-panel {
	width: 70%;
	float: right;
	height: 100%;
	position: relative;
	box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.4);
}

/* Message Board Styles */
.message-box {
	margin: 20px 0;
	height: 180px;
	width: 230px;
	border: 1px solid #bbb;
	overflow-y: auto;
}
.messageBoard,
.messageBoard > div {
	height: 100%;
}
.message-room {
	position: absolute;
	top: 0;
	left: 0;
	padding: 18px 13px 13px;
	right: 0;
	height: 75px;
	border-bottom: 3px solid rgba(250, 250, 250, 0.7);
	background-color: var(--white);
	color: var(--dark-blue);
	font-size: 30px;
}
.hidden-menu-btn {
	display: none;
	float: right;
	color: var(--dark-blue);
	cursor: pointer;
	position: relative;
	z-index: 999;
}
.messages {
	height: calc(100% - 80px);
	background-color: var(--white);
	padding: 95px 15px 25px;
	overflow: auto;
}
.message {
	margin-bottom: 10px;
	display: table;
	max-width: 56%;
	padding-top: 15px;
}
.userMsg {
	background-color: rgba(25, 25, 25, 0.9);
	padding: 10px 20px;
	border-radius: 20px;
	color: var(--white);
	margin: 10px 0;
	font-size: 18px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	display: inherit;
}
.message.mainUser {
	margin-left: auto;
}
.message .userInfo {
	color: var(--medium-blue);
}
.message.mainUser .userInfo {
	text-align: right;
	margin-right: 20px;
	color: var(--dark-blue);
}
.message.mainUser .userMsg {
	background-color: rgba(255, 255, 255, 0.9);
	color: var(--dark-blue);
	margin-left: auto;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}
.message-input {
	height: 75px;
	background-color: var(--medium-blue);
	border-top: 3px solid rgb(250, 250, 250);
}
.message-input > input:focus {
	outline: none;
}
.message-input > input {
	height: 100%;
	background-color: var(--white);
	border: none;
	padding: 5px 95px 5px 10px;
	color: var(--dark-blue);
	font-size: 22px;
	width: 100%;
	position: relative;
	border-radius: 2px;
}
.message-input > input::placeholder {
	color: var(--dark-blue);
}
.message-input > button {
	position: absolute;
	right: 10px;
	font-size: 20px;
	height: 55px;
	margin-top: 10px;
	background-color: var(--dark-blue);
	border: none;
	border-radius: 15px;
	padding: 0 15px;
	cursor: pointer;
	transition: background-color 0.6s ease;
	width: 85px;
}
.message-input > button:hover {
	background-color: var(--blue);
}
.inset-shadow {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
}

/* Chatroom side panel styles */
.c-show {
    border: 1px solid #eee !important;
    padding: 4px 8px;
    width: 60%;
    border-radius: 3px;
    cursor: inherit !important;
	background-color: #fff !important;
	color: #000;
}

.txtCreate {
    background-color: transparent;
    border: 1px solid var(--medium-blue);
    padding: 3px 8px;
    border-radius: 2px;
	margin-top: 4px;
	display: none;
}

.btnCreate {
    background-color: transparent;
    border: none;
    color: var(--light-blue);
	cursor: pointer;
	position: relative;
	z-index: 9999;
}

.errorMsg {
	color: var(--light-red);
	font-size: 14px;
}

.room {
    padding: 10px;
	margin: 20px 10px 15px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px rgba(250,250,250,0.4);
    border: 1px solid var(--light-orange);
    color: var(--white);
	position: relative;
}

.room:nth-child(even) {
    border: 1px solid var(--white);
}


.room * {
	cursor: pointer;
}

.room > input {
	max-width: 100%;
	text-transform: capitalize;
	background-color: transparent;
	text-transform: capitalize;
	font-size: 18px;
	border: none;
}

.room:hover .action-btns {
    display: block;
}

.action-btns {
	position: absolute;
	top: 10px;
	right: 5px;
	display: none;
}

.action-btns > button {
	background-color: transparent;
	border: none;
}

.action-btns > button:nth-child(1) {
	color: var(--light-red);
}

.action-btns > button:nth-child(2) {
	margin-left: 10px;
	color: var(--light-blue);
}

/* Media Section */
@media only screen and (min-width: 1000px) {
	.dashboard .right-panel {
		width: calc(100% - 300px);
	}
}

@media only screen and (min-width: 701px) {
	.dashboard .left-panel {
		display: block !important;
	}
}

@media only screen and (max-width: 700px) {
	.dashboard .left-panel {
		display: none;
	}
	.dashboard .right-panel {
		width: 100%;
		padding: 10px;
	}
	.dashboard .messageBoard {
		box-shadow: -3px 2px 8px rgba(0, 0, 0, 0.4);
	}
	.dashboard .messages {
		border-radius: 5px 5px 0 0;
		height: calc(100% - 60px);
	}
	.dashboard .message-input {
		border-radius: 0 0 5px 5px;
		height: 55px;
	}
	.dashboard .message-input > input,
	.dashboard .message-input > button {
		font-size: 18px;
	}
	.dashboard .message-input > input {
		padding-right: 105px;
	}
	.dashboard .message-input > button {
		border-radius: 10px;
		height: 38px;
		right: 20px;
		margin-top: 7px;
	}
	.hidden-menu-btn {
		display: block;
	}
}
